<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loginactivity">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PriceList"></activity>
        <activity android:name=".AddNewPhone" />
        <activity android:name=".Devide" />
        <activity android:name=".InLab" />
        <activity android:name=".OrderAccessories" />
        <activity android:name=".OrderPhones" />
        <activity android:name=".CellphonesInventory" />
        <activity android:name=".OrderParts" />
        <activity android:name=".Fixed" />
        <activity android:name=".ADPTL" />
        <activity android:name=".Accessories" />
        <activity android:name=".Cellphone" />
        <activity android:name=".Lab" />
        <activity android:name=".Home" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
        <activity android:name=".loginactivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>